.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: white;  
  padding: 10px;
  background: #25274d
}

.header a {
  margin: 10px;
  
}

.arrow {
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 75%;  
  bottom: 0%;  
  font-size: 30px;  
  font-family: monospace;
  margin: auto; 
  text-align: center;
  color: white;  
  height: 20px;
}

.arrow a {
  transform: rotate(90deg);
  display: inline-block;
  cursor: pointer;
}

.greeting {
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto; 
    text-align: center;
    color: white;
    font-family: monospace;    
    
}

.container-projects {   
  margin: auto; 
  text-align: center;
  color: white;
  font-family: monospace;   
  display: block; 
}
.projects {
  display: inline-block; 
  margin-top: 15% ;
  
}

.project-card {
  float: left;
  margin: 15px;
  width: 300px;
  height: 375px;
  border: solid white 1px;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background: #0000002f;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}

.project-card:hover {
  text-decoration: none;
  -webkit-transform: scaleY(1.1) scalex(1.1);
    transform: scaleY(1.1) scalex(1.1);
}

img {
  border-radius: 50%
}

.links {
  color: white;
  
}

.links:hover{
  text-decoration: none;
  color: white;
}

.project-button{
margin: 7px;
background: #25274d
}


.project-button:hover {
  text-decoration: none;
  color: white;
  }

.project-title {
  color: white;
  font-size: 15px;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
} 

.project-category {
  color: white;
  font-size: 15px;
  text-align: left;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
}


.contact-form-container{
  margin: auto; 
  text-align: center;
  color: white;
  font-family: monospace;   
  display: block; 
  
}
.contact-form{
  display: inline-block; 
  width: 30%;
  color: white;
  text-align: left;
  margin-top: 15% ;
}

.form-control {
   
  margin-bottom: 1em; 
  color: white;
  background: rgba(0,0,0,0.12);
  box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}

.label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 15px;
 
}

#contact-text {
  text-align: center;
  margin-bottom: 5%;
  margin-top: -5%;
}


.main-section {
  height: 100vh;
  background-color: #25274d
}

.about-section {
  height: 100vh;
  background-color: #464866;
}
.projects-section {
  height: 100vh;
  background-color: #24305e
}

.contact-section {
  height: 100vh;
  background-color: #464866
}

