.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer
}

.navbar a {
  margin: 10px;
  color: white;
}

.arrow {
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 75%;  
  bottom: 0%;  
  font-size: 30px;  
  font-family: monospace;
  margin: auto; 
  text-align: center;
  color: white;  
  height: 20px;
}

.arrow a {
  transform: rotate(90deg);
  display: inline-block;
  cursor: pointer;
}

.greeting {
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto; 
    text-align: center;
    color: white;
    font-family: monospace;    
    
}

.projects {
  display: inline-block; 
  margin-top: 15% ;
  
}

.project-card {
  float: left;
  margin: 15px;
}

.container-projects { 
  
  margin: auto; 
  text-align: center;
  color: white;
  font-family: monospace;   
  display: block; 
}

.contact-form{
  display: inline-block; 
  margin-top: 15% ;
 
  color: white;
}

.contact-form-container{
  display: block; 
  text-align: center;
}

.label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  margin-bottom: 1em;
  width: 400px;
  color: white;
  background: rgba(0,0,0,0.12);
  box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}



.main-section {
  height: 100vh;
  background-color: skyblue
}

.projects-section {
  height: 100vh;
  background-color: mediumpurple;
}

.about-section {
  height: 100vh;
  background-color: midnightblue;
}

.contact-section {
  height: 100vh;
  background-color: tomato
}

#test {
  text-align: center;
}